.featureListContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3.75rem .625rem;
}

.subTitle {
  color: var(--clr-textDarkBlue);
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  text-align: center;
  padding: 0 .1rem 1rem 0;
}

.paragraph {
  font-size: .875rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media(min-width: 480px) {
  .featureListContainer {
    margin-left: .9375rem;
    margin-right: .9375rem;
  }
}

@media(min-width: 768px) {
  .featureListContainer {
    max-width: 728px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }

  .subTitle {
    color: var(--clr-textLightBlue);
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 300;
    margin: 1.250rem 0;
  }

  .paragraph {
    font-size: .875rem;
    margin-bottom: 1.5rem;
  }
}

@media(min-width: 992px) {
  .featureListContainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}