.pressCardSliders {
  width: 500%;
  height: auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: auto;
  padding: 2rem .9375rem 0 .9375rem;
  background-color: var(--clr-light);
  transform: translate(0);
  transition: all .3s ease-in;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 0 1rem;
}

.title {
  color: var(--clr-pressCardTitle);
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: .625rem 0 .3125rem 0;
}

.text {
  color: var(--clr-pressCardText);
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.625rem;
  padding: 0 0 .5rem;
}

.linkContainer {
  width: 100%;
  height: auto;
}

.navLink {
  color: var(--clr-pressCardLink);
  font-size: .875rem;
  font-weight: 400;
}

.dotsContainer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding: 1.5rem 1rem 4rem;
}

.dots {
  width: .625rem;
  height: .625rem;
  background-color: var(--clr-dotBackground);
  border-radius: 1rem;
  transition: all .1s ease-in;
}

.active {
  background-color: var(--clr-dotBackgroundActive);
  transition: all .1s ease-in;
}

.pressCardSliderContainer {
  overflow: hidden;
}

@media(min-width: 480px) {
  .pressCardSliders {
    width: 250%;
  }

  .slide {
    width: 20%;
  }

  .dots:nth-child(4),
  .dots:nth-child(5) {
    display: none;
  }

  .pressCardSliderContainer {
    max-width: 728px;
    margin: auto;
  }
}

@media(min-width: 992px) {
  .pressCardSliders {
    width: 167%;
  }

  .dots:nth-child(3) {
    display: none;
  }

  .pressCardSliderContainer {
    max-width: 940px;
  }
}