.pressCardContainer {
  width: 100%;
  height: auto;
  padding: 3.5rem .9375rem;
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 0 1rem;
}

.cardTitle {
  color: var(--clr-pressCardTitle);
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: .625rem 0 .3125rem 0;
}

.cardText {
  font-size: 1.125rem;
}