.pressCardContainer {
  width: 100%;
  height: auto;
  padding: 1rem .9375rem 1rem .9375rem;
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 0 1rem;
}

.cardTitle {
  color: var(--clr-pressCardTitle);
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: .625rem 0 .3125rem 0;
}

.cardText {
  color: var(--clr-pressCardText);
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.625rem;
}

.linkContainer {
  display: flex;
  position: relative;
}

.navLink {
  color: var(--clr-pressCardLink);
  font-size: .875rem;
  font-weight: 400;
  margin: .635rem 0 0;
}

@media(min-width: 480px) {
  .pressCardContainer {
    max-width: 728px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
  }
}

@media(min-width: 992px) {
  .pressCardContainer {
    max-width: 940px;
  }
}