.formContainer {
  width: 100%;
  height: auto;
}

.form {
  width: 80%;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  position: relative;
  top: -10rem;
  margin: auto;
  border-radius: 1rem;
  gap: 0.3rem;
}

.fullNameContainer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  text-align: left;
}

.firstName {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lastName {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  width: 100%;
  height: auto;
  font-weight: 300;
}

.input,
.companyInput {
  width: 100%;
  height: 2.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-inputBorderColor);
}

.select {
  width: 100%;
  height: 2.375rem;
  font-size: 0.875rem;
  font-weight: 300;
}

.button {
  width: 100%;
  height: 2.5rem;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  margin: 1rem 0 0;
  cursor: pointer;
}

.button:hover {
  background-color: var(--clr-hoverHeader);
}

@media (min-width: 480px) {
  .form {
    width: 31.25rem;
  }

  .input {
    width: 14.1875rem;
    height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .form {
    width: 43.75rem;
  }

  .input {
    width: 20.375rem;
  }
}
