.formContainer {
  width: 100%;
  height: auto;
}

.form {
  width: 80%;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  position: relative;
  top: -10rem;
  margin: auto;
  border-radius: 1rem;
  gap: 0.3rem;
}

.fullNameContainer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  text-align: left;
}

.firstName {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lastName {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  width: 100%;
  height: auto;
  font-weight: 300;
}

.input {
  width: 100%;
  height: 2.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-inputBorderColor);
}
