.mainTitleContainer {
  width: 100%;
  margin: 1.250rem 0 .625rem;
}

.mainTitle {
  color: var(--clr-additionalFeatureMainTitle);
  font-family: var(--ff-alternative);
  font-size: 2.1rem;
  line-height: 3rem;
  font-weight: 400;
  text-align: center;
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem;
}

.icon {
  width: 5rem;
  height: 5rem;
}

.title {
  color: var(--clr-additionalFeatureTitle);
  font-family: var(--ff-alternative);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin: 1.250rem 0;
}

.description {
  font-weight: 400;
}


.additionalFeatureContainer {
  padding: 2.5rem .9375rem;
}