.featureSectionContainer {
  width: 100%;
  max-width: 728px;
  margin: auto;
  padding: 0 1.250rem;
}

.featureImageContainer {
  margin: auto;
}

.featureImage {
  width: 100%;
  padding: 2.5rem 0;
}

.featureTitleContainer {
  margin-bottom: 1.875rem;
}

.featureTitle {
  color: var(--clr-textDarkBlue);
  font-family: var(--ff-alternative);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.875rem;
}

.featureDescription {
  color: var(--clr-featureDescription);
  font-family: var(--ff-alternative);
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media(min-width: 480px) {
  .featureTitle {
    font-size: 1.75rem;
  }

  .featureDescription {
    margin-bottom: 2.5rem;
  }
}

@media(min-width: 768px) {
  .gridContainer {
    gap: 2.5rem;
    padding: 2.5rem 0;
  }

  .gridContainer:nth-child(1n) {
    display: grid;
    grid-template-columns: 288px 1fr;
  }

  .gridContainer:nth-child(2n) {
    display: flex;
    flex-direction: row-reverse;
    grid-template-columns: 1fr 288px;
  }

  .gridItem {
    width: 100%;
    height: auto;
  }

  .featureImageContainer {
    margin: 0;
  }

  .featureImage {
    padding: 0;
  }
}