.footerContainer {
  width: 100%;
  padding: 5rem .9375rem 2.5rem;
  background: var(--clr-footerBackground);
}

.footerNav {
  max-width: 728px;
  margin: auto;
}

.titleContainer {
  width: 100%;
  max-width: 728px;
  margin: 2.5rem 0 0;
}

.title {
  font-family: var(--ff-alternative);
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 500;
}

.itemContainer {
  width: 100%;
  max-width: 728px;
  margin: 1.250rem 0 0;
}

.item {
  font-family: var(--ff-alternative);
  color: var(--clr-dark);
  font-size: .875rem;
  font-weight: 300;
  transition: all .2s ease-in;
}

.item:hover {
  color: var(--clr-hoverFooter);
}

.copyrightContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5rem 0 0;
}

.copyright {
  color: var(--clr-featureDescription);
  text-align: center;
}

@media(min-width: 480px) {
  .footerNav {
    display: flex;
    justify-content: center;
    padding-left: 3rem;
  }
}

@media(min-width: 992px) {
  .footerNav {
    max-width: 940px;
  }
}