.heroSectionContainer {
  width: 100%;
  position: relative;
}

.titleContainer {
  width: 100%;
  position: absolute;
  top: 4rem;
  z-index: 5;
  padding: 0 .625rem;
}

.title {
  color: var(--clr-textLightBlue);
  font-size: 1.875rem;
  font-family: var(--ff-alternative);
  font-weight: 300;
  text-align: center;
  line-height: 2.75rem;
  margin: 1.875rem 0 .625rem;
}

.textContainer {
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 15rem;
  padding: 0 .5rem;
}

.text {
  color: var(--clr-textLightBlue);
  font-family: var(--ff-alternative);
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.625rem;
  text-align: center;
  margin: 1.25rem 0 1.875rem;
  padding: 0 .625rem;
}

.videoContainer {
  width: 100%;
  height: 28.75rem;
  position: relative;
  overflow-x: hidden;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
}

@media(min-width: 480px) {
  .titleContainer {
    top: 1rem;
  }

  .title {
    font-size: 3.02rem;
    font-weight: 300;
    word-spacing: -.5rem;
    line-height: 3.9375rem;
    max-width: 728px;
    margin: 0 auto;
  }

  .text {
    font-size: 1.5rem;
    line-height: 1.9375rem;
    margin: .5rem 0 2.5rem;
    padding: 0 3.0625rem;
    max-width: 728px;
    margin: 0 auto;
  }
}

@media(min-width: 768px) {
  .titleContainer {
    top: 4rem;
  }

  .title {
    font-size: 3.75rem;
  }

  .text {
    font-size: 1.625rem;
    line-height: 1.9375rem;
    padding: 2rem 3.0625rem;
  }
}