.heroSectionContainer {
  width: 100%;
  height: 500px;
  background-size: cover;
  padding: .35em .625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--clr-textLightBlue);
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
  line-height: 2.75rem;
  margin: 1.875rem 0 .3125rem;
}

.subTitle {
  color: var(--clr-textLightBlue);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6255rem;
  text-align: center;
  margin: 1.25rem 0;
  padding: 0 .625rem;
}

@media(min-width: 480px) {
  .title {
    font-size: 3rem;
    line-height: 3.9375rem;
  }

  .subTitle {
    font-size: 1.5rem;
    line-height: 1.6255rem;
    margin: 1.25rem 0 2.5rem;
    padding: 0 3.5rem;
  }
}

@media(min-width: 768px) {
  .title {
    max-width: 728px;
    font-size: 3.75rem;
    line-height: 4.5rem;
  }

  .subTitle {
    max-width: 728px;
    font-size: 1.625rem;
    line-height: 2.25rem;
    padding: 0 4.375rem;
  }
}

@media(min-width: 992px) {
  .title {
    max-width: 940px;
  }

  .subTitle {
    max-width: 940px;
  }
}