.featureMainHeadingContainer {
  width: 100%;
  padding: 0 .625rem;
}

.featureMainHeading {
  color: var(--clr-textLightBlue);
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
  line-height: 2.75rem;
  margin: 1.875rem 2rem .625rem;
}