.featureSectionContainer {
  width: 100%;
  max-width: 728px;
  margin: auto;
  padding: 0 1.250rem;
}

.featureImageContainer {
  margin: auto;
}

.featureImage {
  width: 100%;
  padding: 2.5rem 0;
}

.featureDescription {
  color: var(--clr-featureDescription);
  ;
  font-size: 1rem;
  font-weight: 300;
}

.featureDescription:first-child {
  margin: 0 0 2rem;
}

@media(min-width: 480px) {
  .title {
    font-size: 1.75rem;
  }
}

@media(min-width: 768px) {
  .flexContainer {
    display: flex;
    gap: 2.5rem;
    padding: 2.5rem 0;
  }

  .flexContainer:nth-child(1n) {
    flex: 288px 1;
  }

  .flexContainer:nth-child(2n) {
    flex: 1 288px;
    flex-direction: row-reverse;
  }

  .featureImageContainer {
    margin: 0;
  }

  .featureImage {
    padding: 0;
  }
}

@media(min-width: 992px) {
  .featureSectionContainer {
    max-width: 940px;
  }

  .flexItem {
    width: 125%;
  }
}