.payersImageryContainer {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem;
  position: absolute;
  top: 20%;
}

.payersImageContainer:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payersImageContainer:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payersImage {
  width: 80%;
}