.payersImageryContainer {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 0 .625rem;
  position: absolute;
  top: 30rem;
}

.payersImageContainer:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payersImageContainer:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payersImage {
  width: 80%;
}

@media (min-width: 480px) {
  .payersImageryContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    top: 42rem;
  }

  .payersImageContainer:first-child {
    justify-content: flex-end;
  }

  .payersImageContainer:nth-child(2) {
    justify-content: flex-start;
  }

  .payersImage {
    width: 82%;
  }
}

@media (min-width: 768px) {
  .payersImageryContainer {
    max-width: 728px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 992px) {
  .payersImageryContainer {
    max-width: 940px;
  }
}