.payersImageryContainer {
  width: 100%;
  height: auto;
}

.payersImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.payersImageContainer:first-child {
  position: absolute;
  top: 36rem;
}

.payersImageContainer:nth-child(2) {
  width: 94%;
  margin-top: 9rem;
}

.payersImage {
  width: 80%;
}