/*
===============
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-dark: #333;
  --clr-light: #fff;
  --clr-accent: #2f7ece;
  --clr-heroText: #00458e;
  --clr-overlay: rgba(0, 0, 0, 0.9);
  --clr-featureTitle: #280056;
  --clr-featureDescription: #1a1a1a;
  --clr-additionalFeatureMainTitle: #280056;
  --font-family: 'IBM Plex Sans', sans-serif;
  --ff-alternative: 'Prompt', sans-serif;
}

/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: var(--clr-light);
  color: var(--clr-dark);
  line-height: 1.250;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: transparent;
}