/*
===============
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500.600;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-dark: #333;
  --clr-light: #fff;
  --clr-accent: #2f7ece;
  --clr-hoverHeader: #00458e;
  --clr-hoverFooter: #1a1b1fbf;
  --clr-textLightBlue: #00458e;
  --clr-textDarkBlue: #280056;
  --clr-textViolet: #592b9a;
  --clr-overlay: rgba(0, 0, 0, 0.9);
  --clr-featureDescription: #1a1a1a;
  --clr-bannerBackground: #592b9a;
  --clr-footerBackground: #f2f2f2;
  --clr-payersBannerBackground: #e7f2ffb3;
  --ff-primary: 'Prompt', sans-serif;
}

/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-light);
  color: var(--clr-dark);
  line-height: 1.250rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: transparent;
}